@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Khula:wght@300&family=Roboto+Condensed:wght@500&display=swap');


/*
Main Elements
*/

html {
    font-size: 1em;
    
}

body {
    background-color: rgb(242, 240, 235);
    margin: 0;
    
}

.link-warm {
    text-decoration: none !important;
    color: rgb(242, 240, 235);
    
    
}

.link-green {
    text-decoration: none !important;
    color: rgb(30, 57, 50);
    
}
/*
Flex Containers
*/

.nav-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
    background-color: rgb(242, 240, 235);
    border-bottom: 1.5px solid black;
}

 .two-column-container {
    display: flex;
    flex-flow: column wrap;
    align-items: normal;
    justify-content:center;
    align-content: normal;
   
    height: 30rem;
    
    
    background-color: rgb(242, 240, 235);

}


.one-column-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
   
    height: 30rem;



    background-image: url('/assets/coffee-illustration-1.png');
    background-size: 110%;
    background-position:0% 100%;
}

.links-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    border-bottom: 1px solid black;


    background-color:rgb(20, 39, 34);
}

.social-media-icons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    background-color: rgb(10, 19, 16);
}


/*
Flex Items
*/
.flex-button {
    background-color: rgb(242, 240, 235);
    margin: 1rem; 
}

.flex-box-paragraph {
    background-color:rgb(85, 62, 3);
    width: 40rem;
    height: 40rem;
    text-align: center;
   
   
}

.flex-box-paragraph-illustration {
    background-color: rgb(242, 240, 235);
    width: 25rem;
    height: 20rem;
    margin: 3rem 19.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
   
}

.flex-box-picture {
    background-color: azure;
    width:40rem;
    height: 40rem;
    
}

.flex-box-picture-ad {
    background-color: azure;
    width: 10rem;
    height: 10rem;
    margin: 4rem;
}

.flex-box-logo {
    background-color: rgb(242, 240, 235);
    width: 5rem;
    height: 5rem;
    margin: 2rem;
}

.flex-box-links {
    background-color: rgb(20, 39, 34);
    width: 8rem;
    height: 2rem;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
}

.flex-icons {
    background-color: rgb(242, 240, 235);
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    display: block;
}

.social-media-icons {
    width: 1.5rem;
    height: 1.5rem;
    
    margin-top: 0.5rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    
}

/* Buttons  */


.button-quiz {
    background: rgb(30, 57, 50);
    border: 2px solid rgb(30, 57, 50);
    border-radius: 0.5rem;
    
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Khula', sans-serif;
    font-size: 1rem;
    
    
    
    
    outline: 0;
    padding: 0.3rem 1rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-decoration: none;
  }
  
  .button-quiz:hover,
  .button-quiz:active {
    background-color: initial;
    background-position: 0 0;
    color: rgb(30, 57, 50);
    
  }
  
  .button-quiz:active {
    opacity: .5;
  }
  
  

/*
Text Styling
*/

h1 {
    font-family: 'DM Serif Display', serif;
}


.title-text {
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;

}

.title-impact-text {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 730;
}

.body-text-large {
    font-family: 'Khula', sans-serif;
    font-size: 2rem;
}

.body-text-medium {
    font-family: 'Khula', sans-serif;
    font-size: 1.5rem;
}

.body-text-small {
    font-family: 'Khula', sans-serif;
    font-size: 1.2rem;
}

.impact-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    transform: scale(1, 0.85);
}

.green-text {
    color: rgb(0, 98, 65);
}

.darkgreen-text {
    color: rgb(30, 57, 50);
}

.white-text {
    color: white;
}


/*
Image Styling
*/

.img-logo {
    width: 100px;
    height: 100px;
}



/* Transitions & Animations  */

.flex-button:hover {
    color: rgb(0, 98, 65);
    cursor: pointer;
}

.social-media-icons:hover {
    color: rgb(242, 240, 235);
}

.flex-icons:hover {
    background-color: rgb(174, 196, 157);
   
}

.link:hover {
    color: rgb(30, 57, 50);
}

.flex-box-links:hover {
    text-decoration: underline;
}

/* Media Queries */

@media all and (max-width: 800px) {
    .nav-container {
        justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .nav-container {
        justify-content: column;
    }
}

@media all and (max-width: 1154px) {
    .one-column-container {
        display:grid;
        justify-content: center;
        
        align-items: center;
    }
    .flex-box-paragraph-illustration {
        height: 20rem;
        width: 25rem;
        display: block;
    }
}
/* Column Layout  */

.column-one {
    column-count: 2;
    justify-content: center;
    align-content: center;
    margin: 3rem 16rem;
    
}

.column-one-white {
    column-count: 2;
    background-color: white;
    margin: 5rem 10rem;
    border-radius: 0.5rem;
    
}

.column-one-card-color {
    column-count: 2;
    background-color:rgb(214, 208, 194);
    margin: 1rem 10rem;
    border-radius: 0.5rem;
    
}

.container-title {
    background-color: rgb(214, 208, 194);
    width: 98rem;
    height: 8rem;
    border-radius: 0.5rem;
    margin: 2rem 2rem 1rem 10rem;
    padding: 1rem;
}

.container-one {
    background-color: rgb(214, 208, 194);
    width: 40rem;
    height: 30rem;
    border-radius: 0.5rem;

}

.container-no-bg {
    background-color:/*rgb(242, 240, 235)*/ white;
    width: 40rem;
    height: 30rem;
    border-radius: 0.5rem;

}

.container-card-color {
    background-color: rgb(214, 208, 194);
    width: 40rem;
    height: 30rem;
    border-radius: 0.5rem;

}
.card {
    background-color: rgb(214, 208, 194);
    margin: 0.5rem 2rem;
    display: inline-block;
    width: 35rem;
    height: 25rem;
    text-align: justify;
    
    
}

.card-color {
    background-color: rgb(214, 208, 194);
    margin: 0.5rem 2rem;
    display: inline-block;
    width: 38rem;
    height: 25rem;
    padding: 1rem;
    
}

.card-no-bg {
    background-color: /*rgb(242, 240, 235)*/ white;
    margin: 0.5rem 2rem;
    display: inline-block;
    width: 38rem;
    height: 25rem;
    
}

.container-cup-image {
    background-image: url('/assets/cup-design-1.png');
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-position: 10%;
    border-radius: 0.5rem;
}


.container-x-image {
    background-image: url('/assets/frappe-one.avif');
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    border-radius: 0.5rem;
}

.container-ad-image {
    background-image: url('/assets/ad-image-1.png');
    width: 40rem;
    height: 30rem;
    background-size: cover;
    background-position: 50% 25%;
    border-radius: 0.5rem;
    
}

@media all and (max-width: 1778px) {
    .column-one {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
       
        gap: 1rem;
        margin: 1rem;
    }
}

@media all and (max-width: 1428px) {
    .column-one-white {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
        background-color: rgb(242, 240, 235);
    }
    .column-one-card-color {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1rem;
        margin: 1rem;
        background-color: rgb(242, 240, 235);
    }
   
}
 @media all and (max-width: 1900px) {
    .container-title {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
 }

/* Template Page */

.container-big {
    background-color: rgb(214, 208, 194);
    width: 80rem;
    height: 20rem;
    margin: 3rem 3rem 3rem 30rem;
    border-radius:0.5rem

}


/* Scroll Button  */


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgb(20, 39, 34);
    color: white;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  
  #myBtn:hover {
    background-color: #555;
  }